<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2>Welcome to Digital Bank</h2>
      <p>Manage your finances with ease and security.</p>
      <img src="../../assets/PicsHome/E-banking-APP.png" alt="Banking Image" class="img-fluid mb-3 smaller-image">
      <div>
        <button class="btn btn-primary btn-lg mb-3"><i class="bi bi-box-arrow-in-right"></i> Log In</button>
        <br>
        <button class="btn btn-success btn-lg"><i class="bi bi-person-plus"></i> Sign Up</button>
      </div>
    </div>
  </div>
</div>
